@import "primeicons/primeicons.css";

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  background: var(--p-surface-0);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, sans-serif;
  -webkit-font-smoothing: antialiased;
  background: var(--p-surface-50);
  color: var(--p-text-color);
}
