@import "primeicons/primeicons.css";

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, sans-serif;
  -webkit-font-smoothing: antialiased;
}

:root {
  --p-primary-50: #eff6ff;
  --p-primary-100: #dbeafe;
  --p-primary-200: #bfdbfe;
}
